* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f6f2ed;
}

.header-parallax {
  background: url("../images/strada-frumi.png") no-repeat 50% 50% fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

ul {
  position: fixed;
  list-style-type: none;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  font-family: "Syncopate", sans-serif;
  z-index: 2;
}

li {
  float: left;
}

li a {
  display: block;
  color: #8a613b;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover {
  color: #4c3a2b;
  background-color: #bfa487;
}

.content {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  color: #8a613b;
  text-align: center;
}

.header-text {
  position: absolute;
  top: 40%;
  left: 25%;
  right: 25%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

p {
  position: relative;
  top: 40%;
}

h1 {
  font-family: "Syncopate", sans-serif;
  font-size: 45px;
}

h2 {
  font-family: "Tangerine", cursive;
  font-size: 40px;
  font-weight: lighter;
}

h3 {
  font-family: "Syncopate", sans-serif;
  position: relative;
  top: 10%;
  font-size: 30px;
}

.btn,
.btn:after {
  background-color: #8a613b;
}

.btn:hover,
.btn:focus {
  background-color: #4c3a2b;
}

a,
h4 {
  font-family: "Syncopate", sans-serif;
}

.modal-content {
  font-family: "Playfair Display", serif;
}

.intermediate-img {
  background: url("../images/strada-frumi.png") no-repeat 50% 50% fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.intermediate-img-text {
  position: relative;
  top: 40%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-left: 70px;
  margin-right: 70px;
}

.contact {
  background-color: #bfa487;
  font-family: "Syncopate", sans-serif;
}

form {
  margin-left: 22%;
  padding: 40px;
}

h5 {
  color: #4c3a2b;
  font-weight: bold;
}

input#name,
input#email,
input#telephone {
  text-transform: uppercase;
  background-color: white;
  border-bottom: solid 2px #4c3a2b;
  width: 50vw;
}

input#name:focus,
input#email:focus,
input#telephone:focus {
  box-shadow: none;
}

textarea {
  border-bottom: solid 2px #4c3a2b;
  color: #474544;
  text-transform: uppercase;
  background-color: white;
  height: 150px;
  resize: none;
  width: 50vw;
}

label {
  color: #4c3a2b;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
}

#form_button {
  background: none;
  border: solid 2px #4c3a2b;
  color: #4c3a2b;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 35px;
  text-transform: uppercase;
  text-align: center;
}

#form_button:hover {
  background: #4c3a2b;
  color: #fff;
}

.bottom {
  background-color: #4c3a2b;
}

.logos {
  margin-left: 40vw;
}

#icon {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60px;
  height: 60px;
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: Calc(100vw - 40px);
}

.flex-item {
  padding: 10px;
  width: 33.33%;
}

#img-flex {
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  height: auto;
}

.cols {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .flex-item {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .flex-item {
    width: 100%;
  }
}
